body {
	margin:0;
	padding:0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-size: 16px;
	overflow: hidden;
    background:#ccc;
}

input {
    padding: .5rem;
    font-size: 1.1rem;
}
input[type='submit'], button {
    border-radius:0;
    cursor:pointer;
    border:solid 1px #24c37e;
    background:#24c37e;
    color:#fff;
    padding:.5rem;
}
input[type='submit']:hover {
    background:#1a8758;
}

#map {
	width:100vw;
	height: calc(100vh - 40px);
}

#control-bar {
	height:40px;
	width:100vw;
	background: #24c37e;
	box-shadow: 0 -5px 5px -2px #444;
	position: relative;
	z-index: 990;
	box-sizing: border-box;
  display:fixed;
}
#player-bar {
    position: absolute;
    bottom:2rem;
    left:1rem;
    z-index:1000;
    height:85px;
}

#player-bar div {
    width: 55px;
    display:inline-block;
    padding:.1rem;
    background:#fff;
    margin:2px;
    cursor:pointer;
}

#player-bar div span {
    text-overflow: ellipsis;
    height: 1.4rem;
    overflow: hidden;
    display: inline-block;
    text-align:center;
    display: block;
}

#player-bar div img {
    pointer-events: none;
    width:100%;
    filter: grayscale(100%);
}
#player-bar div.spawned img {
   filter: none;
}


.character-icon {
    position:relative;
}
.character-icon img {
	width:100%;
  padding:0.2rem;
  margin-bottom: -6px;
  box-sizing: border-box;
}
.character-icon span {
  display: block;
  padding: .1rem 0;
  background: #fff;
  border: solid 2px;
  text-align:center;
}

#control-bar span, #control-bar a {
	display:inline-block;
	float:right;
	color:#fff;
	text-align:center;
  text-decoration: none;
	padding: 8px 40px;
  border-left: solid 1px #95e1c0;
  margin-top:1px;
  cursor:pointer;

}
#control-bar span:hover, #control-bar a:hover {
	background:#1a8758;
}
#control-bar span{
    display:none;
}
.app #control-bar span{
    display:block;
}

/* fog controls */
.fog-controls {
	display:flex;
	position: absolute;
	width:50vw;
	font-size:0.9rem;

	right: 2px;
	bottom: 42px;
    z-index: 1010;
    background: #fff;
}
.fog-controls label {
	flex:2;
	padding:1rem;
}
.fog-controls label.enable {
	flex:1;
}

.fog-controls label span:first-child {
	display:block;
	margin-bottom:.5rem;
}
.fog-controls label input[type=range] {
	width:100%;
	margin:0;
}


.fog-controls .toggle {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;

}

.fog-controls .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.fog-controls .toggle span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.fog-controls .toggle span:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.fog-controls .toggle input:checked + span {
  background-color: #24c37e;
}

.fog-controls .toggle input:focus + span {
  box-shadow: 0 0 1px #24c37e;
}

.fog-controls input:checked + span:before {
  transform: translateX(16px);
}


/* image picker */
.image-picker {
  position: absolute;
  z-index: 1200;
  top: calc(50vh - 250px);
  background: #ffff;
  width: 50vw;
  left: 25vw;
  padding: 1rem;
  border: solid 3px #000;
}
.image-picker div {
  margin-top:.5rem;
  margin-bottom:.5rem;
}
.spawn-controls img,.image-picker img {width:65px;}

/*
 Spawn controls
 */
.spawn-controls {
  position: absolute;
  width:500px;
  max-width:100vw;
  font-size:0.9rem;
 

  right: 2px;
  bottom: 42px;
  z-index: 1020;
  background: #fff;
}
.spawn-controls input {
    padding:.5rem;
    font-size:1.1rem;
}

.spawn-controls div {
  display:block;
  float:left;
  padding-top:1rem;
}
.spawn-controls div label {
  display:block;
}
.spawn-controls img {
  padding:1rem;
  display:block;
  float:left;
  cursor:pointer;
}

.wizard-container {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height: calc(100vh - 40px);
    overflow: auto;
}
  .wizard, .save-zone {
    width:50vw;
    margin:3rem auto;
    background:#fff;
    box-shadow: 4px 4px 5px -3px #444;
  }

  @media screen and (max-width: 1500px) {
    .wizard, .save-zone {
      width: 80vw;
    }
  }

  .wizard main,.wizard h1,.save-zone h2 {
    padding:2rem;
    margin-bottom:0;
  }
  .wizard h1 {
    padding-bottom:0;
  }
  .wizard p{
    margin-top:0;
  }
  .wizard label {
    display:block;
    padding-bottom:.5rem;
  }
  .wizard input {
    padding:.5rem;
    font-size:1.1rem;
    width: 60%;
  }
  .wizard footer {
    background:#24c37e;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .wizard footer button {
    font-size:1.1rem;
    padding: 1.2rem;
    border:none;
    background:auto;
    background: inherit;
    cursor:pointer;
    border-left: solid 1px #95e1c0;
    color:#fff;
    padding-right: 2.5rem;
    position: relative;
  }
  .wizard footer button:hover {
    background: #1a8758;
  }
  .wizard hr {
    border: 0;
      border-top: solid 1px #eee;
      margin-bottom:1rem;
  }

  .wizard footer button:after {
    content: '\203A';
    font-size:2.5rem;
    position: absolute;
    line-height: 1rem;
    right: 1rem;
  }

    .wizard .more {
        display: block;
        margin: 1rem 0;
        color: #bbb;
        text-align: center;
        margin-top:2rem;
        cursor: pointer;
    }
    .wizard .advanced {
        max-height:0;
        overflow: auto;
        transition: .3s max-height;
    }
    .wizard .advanced.show {
        max-height:600px;
    }
    .wizard .advanced input {
        width:40%;
    }
    .wizard .advanced h2 {margin-top:0;}

    .wizard .player-option {
        margin-bottom: 1rem;
    }
    .wizard .player-option span.icon {
        margin-right:1rem;
        float:left;
        width:60px;
    }
    .wizard .player-option span.icon img {
        height: 55px;
        cursor:pointer;
    }
    .wizard .player-option span.remove {
        cursor:pointer;
    }
        
    .wizard .player-option input {
        margin-top: .5rem;
    }

    .wizard .more:after { 
        content: '';
        height: 12px;
        display: block;
        width: 110px;
        background:#fff;
        margin:auto;
        margin-top: -14px;
    }
    .wizard .more:before { 
        content: '';
        border-top: solid 1px #eee;
        display: block;
        margin-bottom:-12px;

    }   

    .save-zone main {
      display: flex;
      flex-wrap: wrap;
    }
    .save-zone a {
      flex:1;
      flex-basis: 16%;
    }
    .save-zone a img {
      width:100%;
      object-fit: cover;
      height:152px;
    }

/* quick mobile mode tweaks */
@media screen and (max-width: 800px) {
    .app .fog-controls, .spawn-controls {
        width:100vw;
        max-width: none;
        right:0;
        bottom:40px;
    }
    .spawn-controls input {
        max-width: 40vw;;
    }
    
    .app #player-bar {
        bottom:4rem;
    }
    .app #control-bar {
        display:flex;
    }
    .app #control-bar span, .app #control-bar a {
        flex:1;
    }
}