.confirm-modal {
    position: absolute;
    width:500px;
    max-width:100vw;
    font-size:0.9rem;
    top: 1rem;
    right: calc(50% - (500px / 2));
    z-index: 1020;
    background: #fff;
    padding-bottom: .5rem;

    h2 {
        @include modal-h2;
    }
    div {
        display:block;
        text-align: center;
    }
    button{
        padding: .8rem 2rem;
        margin: .5rem;
    }
    button.cancel {
        background-color: #ddd;
        color: #333;

        &:hover {
            background-color: #bbb;
        }
    }
}