.save-zone a {
    display: flex;
    padding: 1rem 2rem;
    border:  solid 1px #efefef;
    text-decoration: none;
}
.save-zone a:hover {
    background: #fafafa;
}
.save-zone a img {
  width:80px;
  min-width: 80px;
  height:80px;
  border-radius: 10rem;
}
.save-zone a div {
    margin-left: 2rem;
    color: #333;
}
.save-zone a div.play {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.save-zone a div span{
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 400px;
    vertical-align: bottom;
}